/* body {
    background-image: url("/images/IMG_1632.jpg");
    background-repeat: no-repeat;
}
*/
body {
    margin: 0;
    height: 100vh;
    background-image: url('/images/IMG_1632.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}